source ~/.config/direnv/secrets/aws-cloud.sh
source ~/.config/direnv/secrets/gcloud-service-account-key.sh

GCLOUD_SERVICE_ACCOUNT_KEY_PATH="$GCLOUD_SERVICE_ACCOUNT_KEY_PATH"
AWS_LABS_SSH_KEY_PATH="$AWS_LABS_SSH_KEY_PATH"