use flake

export GCLOUD_SERVICE_ACCOUNT_KEY_PATH="/run/agenix/gcloud-auth"
gcloud auth activate-service-account --key-file="$GCLOUD_SERVICE_ACCOUNT_KEY_PATH" || true
export PROJECT_ID=$(jq -r '.project_id' "$GCLOUD_SERVICE_ACCOUNT_KEY_PATH")
gcloud config set project "$PROJECT_ID"

# Terraform / infra secrets
export TF_VAR_tailscale_auth_key="$(cat /run/agenix/tailscale-cloud-auth | tr -d '\n')"
export TF_VAR_hf_token="$(cat /run/agenix/huggingface-token | tr -d '\n')"
export TF_VAR_gcp_credentials_file="/run/agenix/gcloud-auth"


export OPENAI_BASE_URL="http://gpu-spot:8000/v1"
export OPENAI_API_KEY="none"
export OPENAI_MODEL="Qwen/Qwen2.5-Coder-32B-Instruct-AWQ"