/result
result-*
*.qcow2
*.qcow2.lock
*.iso
*.direnv
**/flake-profile*
/.pre-commit-config.yaml
/ISO/
modules/flake-parts/ventoy/ts.key
.deploy-keys/
*.db
*.sqlite
/CMakeFiles/
.playwright-mcp/
arch_userspace.tar.gz
