*                       # ignore everything
!./secrets.nix          # allow this file
!*.bash                 # allow top-level .bash files

# allow age files everywhere
!*.age                  # top-level .age files
!**/*.age               # recursively allow .age files in any subdir
